<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>GoShop</title>
    </head>

    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">
                        &#9776;
                    </button>
                    <a href="index.html">GoShop</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="index.html">Office Dresses</a>
                    </li>
                    <li>
                        <a href="index.html">Summer Dresses</a>
                    </li>
                    <li>
                        <a href="index.html">Party Dresses</a>
                    </li>
                    <li>
                        <a href="index.html">Plus Size Dresses</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Office1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Women's Polka Dot Twofer Dress</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$54.00</div>
                                <div class="product-rating">4.5 stars 10 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Office2.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Women's Open Front Solid Blazer & Pants Set</a>
                                    </div>
                                <div class="product-brand">By Shein</div>
                                <div class="product-price">$22.00</div>
                                <div class="product-rating">4.3 stars 12 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Office3.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">The Neck Jumpsuit</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$49.00</div>
                                <div class="product-rating">4 stars 9 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Summer1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Floral Sharkbite Dress</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$49.00</div>
                                <div class="product-rating">5 stars 15 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/summer2.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Floral Wrap Round Neckline Midi X-line Dress</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$71.99</div>
                                <div class="product-rating">4.5 stars 5 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/summer3.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Plus Sweetheart Neck Belted Sunflower A-line Dress</a>
                                    </div>
                                <div class="product-brand">By Shein</div>
                                <div class="product-price">$49.99</div>
                                <div class="product-rating">4.7 stars 10 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Party1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Women's Sequin Detail Party Dress</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$59.00</div>
                                <div class="product-rating">4.8 stars 8 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Party2.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Chiffon Overlay Cold Sholder High Low Less dress</a>
                                    </div>
                                <div class="product-brand">By Shein</div>
                                <div class="product-price">$39.99</div>
                                <div class="product-rating">4.5 stars 5 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/Party3.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Sequin Detail Sleevless Peacock Blue Party Dress</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$66.00</div>
                                <div class="product-rating">5.0 stars 1 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/PS1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Plus Size Elegant Dress</a>
                                    </div>
                                <div class="product-brand">By Venus</div>
                                <div class="product-price">$54.00</div>
                                <div class="product-rating">4.5 stars 10 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/PS2.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Plus Size Cold Shoulder Dress</a>
                                    </div>
                                <div class="product-brand">By Shein</div>
                                <div class="product-price">$34.00</div>
                                <div class="product-rating">4.9 stars 10 Reviews</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="Images/PS3.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Plus Solid Tie Waist Dress</a>
                                    </div>
                                <div class="product-brand">By Shein</div>
                                <div class="product-price">$30.00</div>
                                <div class="product-rating">4.7 stars 7 Reviews</div>
                            </div>
                        </li>  
                    </ul>
                </div>
            </main>
            <footer class="footer">
                All right reserved.
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu() {
                document.querySelector(".sidebar").classList.remove("open")
            }
        
        </script>
    </body>
</html>